# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv/
*.egg-info/
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Dashboard data (generated live, jangan commit)
dashboard/data/*.json
!dashboard/data/.gitkeep

# Kafka / HDFS local buffers
kafka/buffer/
*.log
logs/

# Spark
spark-warehouse/
metastore_db/
derby.log

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.pem
*.key
